[data-bs-theme="dark"] {
  --mr-hero-gradient: linear-gradient(135deg, #1A237E 0%, #7986CB 100%);
  --mr-hero-color: #ffffff;
  --mr-tsc: #ffffff;
  --mr-body-bg: #332D2D;
  --mr-body-cl: #ffffff;
  --mr-disabled-color: #ffffff;
  --mr-disabled-bg-color: #9FA6B2;
  --mr-checkbox-linecolor: #ffffff;
}

[data-bs-theme="light"] {
  --mr-hero-gradient: linear-gradient(135deg, #2E7D32 0%, #C8E6C9 100%);
  --mr-hero-color: #ffffff;
  --mr-tsc: #000000;
  --mr-body-bg: #cbcfd6;
  --mr-body-cl: #000000;
  --mr-disabled-color: #9ca3af;
  --mr-disabled-bg-color: #f3f4f6;
  --mr-checkbox-linecolor: #000000;  
}

Body {
  background-color: var(--mr-body-bg);
}
.mr-hero {
  background: var(--mr-hero-gradient);
  color: var(--mr-hero-color);
  border-radius: 1.25rem;
  padding: 1.5rem 0.7rem;
}

.mr-hero .btn {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

.mr-hero img {
  max-height: 80px;
  width: auto;
  border-radius: 1.25rem;
  margin: 0 0.25rem;
}

.mr-title-section {
  border-top: 1px dashed var(--mr-tsc)
}

.card {
  transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.75rem 1.5rem rgba(0,0,0,.15);
}

@media (max-width: 576px) { 
  #top-menu { font-size: 0.9rem; }
}

/* start effect */
main.container.hidden {
  opacity: 0;
  transform: translateY(20px);
}

main.container.animate-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2.0s ease, transform 2.0s ease;
}

header.container.hidden {
  opacity: 0;
  transform: translateX(-50px);
}

header.container.animate-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.img-tool-preview {
  max-height: 250px;
}
/* christimas time! */
#snow {
  position: fixed;
  inset: 0;
}
.christmas-logo {
    position: relative;
    display: inline-block;
}

.christmas-logo::after {
    content: "";
    background-image: url('/Multi-Report_Hub/assets/santa-hat.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: -10px;
    transform: rotate(-15deg);
    pointer-events: none;
}

@keyframes hatwiggle {
  0%,100% { transform: rotate(-15deg) translateY(0); }
  50% { transform: rotate(-10deg) translateY(-3px); }
}
.christmas-logo::after {
    animation: hatwiggle 2s ease-in-out infinite;
}
